<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Ignorar archivos y carpetas existentes
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Redirigir todo al index.php, enviando la ruta como un parámetro llamado "url"
    RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
</IfModule>
